* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
  background-image: linear-gradient(0deg, rgb(255, 158, 213), rgb(62,201,254));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}  

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  height: 300px;
  width: 400px;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.container {
    width: 100%;
    max-width: 34em;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    border-color: black;
    border-width: 20px;
    background-image: linear-gradient(0deg,  rgb(62,201,254), rgb(255, 123, 198));
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

#new-task {
    position: relative;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 2%;
  }
  #new-task input {
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    border: none;
    border-bottom: 2px solid #d1d3d4;
    padding: 15px;
    color: #111111;
    font-weight: 500;
    box-shadow: 5px 5px 5px 5px rgba(1, 24, 48, 0.15);
    border-radius: 10px;
  }
  #new-task input:focus {
    outline: none;
    border-color: #0b87ff;
  }
  #new-task button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 100%;
    background-color: #fa95b6;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
  }
  #new-task button:hover {
    background-color: #fa0053;
   color: white;
 }

  #tasks {
    background-color: #ffffff;
    position: relative;
    padding: 1.8em 1.25em;
    margin-top: 3.8em;
    width: 100%;
    border-radius: 0.6em;
  }
  .task {
    background-color: #ffffff;
    padding: 0.3em 0.6em;
    margin-top: 0.6em;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
    border-radius: 0.4em;
    box-shadow: 5px 5px 5px 5px rgba(1, 24, 48, 0.15);
  }
  .task span {
    font-family: "Poppins", sans-serif;
    font-size: 90%;
    font-weight: 400;
  }
  .task button {
    color: #ffffff;
    padding: 0.8em 0;
    width: 2.8em;
    border-radius: 5%;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.8em;
  }
  .delete {
    background-color: #fd0d0d;
  }
  .edit {
    background-color: #003afa;
    margin-left: auto;
    margin-right: 50px;
  }

  #added {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 40%;
  
  }
  
  #added.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 40%; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40%; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 40%; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 40%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  